/* src/App.css */

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #1976D2;
}

button {
  margin-top: 10px;
}

.task-input {
  margin-bottom: 20px;
}

.task-list {
  margin-top: 20px;
}

.task-list-container {
  padding: 50px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
}

.task-list {
  width: 100%;
}

.task-list-item {
  border: 2px solid #7f9bb7;
  border-radius: 5px;
  background-color: #1976D2;
  box-shadow: 0px 2px 4px #7f9bb7;
}

.task-input {
  
  box-shadow: 0px 2px 4px #7f9bb7;
  width: calc(35% - 50px);
}